@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

.scroll::-webkit-scrollbar{
  width: 5px;
}

.vh-80{
  height: 100vh;
}

.vh-50{
  height: 45vh;
}

@media (min-width: 768px){
  .vh-80{
    height: 75vh;
  }
}